[Desktop Entry]
Type=Application
Name=Ephoto
Name[ca]=Ephoto
Name[de]=Ephoto
Name[el]=Ephoto
Name[eo]=EFoto
Name[fi]=Ephoto
Name[fr]=EPhoto
Name[gl]=Ephoto
Name[ja]=Ephoto
Name[lt]=E-Nuotraukos
Name[ms]=Efoto
Name[pt]=Ephoto
Name[tr]=Fotoğraf
Comment=Enlightened Photo Viewer
Comment[ca]=Visor de fotos Enlightened
Comment[da]=Oplyst billedfremviser
Comment[de]=Enlightened-Fotobetrachter
Comment[eo]=Foto-vidigilo de Enlightenment
Comment[es]=Visualizador de fotos de Enlightenment
Comment[fi]=Valaistunut valokuvakatselin
Comment[fr]=Visionneuse photo pour Enlightenment
Comment[gl]=Visualizador de fotos de Enlightenment
Comment[it]=Visualizzatore di foto per Enlightenment
Comment[lt]=Nuotraukų peržiūros programa
Comment[ms]=Pelihat Foto Enlightenment
Comment[pt]=Visualizador de fotos do Enlightenment
Comment[ru]=Просмотр фото
Comment[sr]=Просвећени прегледник слика
Comment[tr]=Fotoğraf görüntüleyici
Icon=ephoto
Exec=ephoto %f
Terminal=false
MimeType=inode/directory;image/png;image/jpeg;image/pjpeg;image/x-xpixmap;image/tiff;image/svg+xml;image/svg+xml-compressed;image/gif;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/bmp;image/x-bmp;image/x-tga;image/vnd.wap.wbmp;image/webp;image/vnd.microsoft.icon;image/ico;image/x-ico;image/x-win-bitmap;image/vnd.adobe.photoshop;image/x-psd;application/pdf;application/x-pdf;image/pdf;application/postscript;image/x-xcf;image/x-compressed-xcf;
Categories=Graphics;Viewer;
Keywords=Picture;Slideshow;Graphics;
