[Desktop Entry]
Type=Application
Name=Slideshow
Icon=ephoto
Exec=ephoto
X-Gadget-Version=1.5
X-Gadget-Bugreport=https://www.enlightenment.org/contrib/report-bug
X-Gadget-Orientations=None
Keywords=Picture;Slideshow;Graphics;
